

.animate-fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

button {
    transition: transform 1.5s ease, background-color 1.5s ease;
}

button:hover {
    transform: scale(1.10); /* Scale up slightly on hover */
    background-color: #12493a; /* Darker shade on hover */
}

/* Spinner styles */
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #1B7A57;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
